.alpha-1 {
	position: absolute;
	top: 25%;
	left: 2.5%;
	width:25vw; 
	height:25vw;
	animation-duration: 2s;
	animation-name: slidein;

}

.alpha-2 {
	position: absolute;
	top: 25%;
	left: 15%;
	width:25vw; 
	height:25vw;
	animation-duration: 2s;
	animation-name: slidein;
}

.beta-1 {
	position: absolute;
	top: 42%;
	left: 3.5%;
	width:25vw; 
	height:25vw;
	animation-duration: 2s;
	animation-name: slidein;
}

.beta-2 {
	position: absolute;
	top: 42%;
	left: 13%;
	width:25vw; 
	height:25vw;
	animation-duration: 2s;
	animation-name: slidein;
}

h2.sub {
	animation-duration: 2s;
	animation-name: slidein-2;
}

@keyframes slidein {
  from {
  	top: 40em; 

  }

  to {
    width:25vw; 
	height:25vw; 
  }
}

@keyframes slidein-2 {
  from {
  	top: 50%; 

  }

  to {
   
  }
}



